################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ewolucyjny_plus5/Ewolucyjny_plus5/Debug
/Ewolucyjny_plus5/Debug
/Ewolucyjny_plus5/.vs/Ewolucyjny_plus5/v16
